/** @format */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: all 0.2s linear;
}
html {
  font-family: open sans, sans-serif;
  font-size: 62.5%;
}

.center {
  text-align: center;
}
.t-black {
  letter-spacing: 0.5rem !important;
  color: black !important;
  font-weight: 500 !important;
  font-size: 1.3rem !important;
  font-style: italic !important;
}
/**
 * /*==================================== CSS PHẦN BOOKING ======================================
 *
 * @format
 */
 
/*==================================== CSS PHẦN FOOTER ====================================== */
